/* Will be compiled down to a single stylesheet with your sass files */

/* Help keep UI from shifting when answers are unhidden */
body {
    min-height: 800px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: auto;
    max-width: 940px;
}

.site-title-hero {
    padding: 30px 60px;
}

.has-pretty {
    margin-top: 1em;
}

.carousel-control {
    color: #444;
    left: -30px;
    top: -30px;
}

.carousel-control:hover {
    color: #bbb;
}

.carousel-control.right {
    right: -30px;
}

.carousel-inner {
    min-height: 225px;
}

.center {
    text-align: center;
}

/* JSS Media Queries from mediaquery.js: https://github.com/skaiser/mediaquery.js */

.below-jsmq-medium .hero-unit {
    padding: 45px 15px;
}

.below-jsmq-medium .hero-unit p {
    font-size: 17px;
}

.below-jsmq-medium .site-title-hero {
    padding: 15px;
}

.below-jsmq-medium .site-title-hero h1 {
    font-size: 45px;
}

.below-jsmq-medium .carousel-control {
    left: -5px;
    top: -20px;
}

.below-jsmq-medium .carousel-control.right {
    right: -5px;
    left: auto;
}

.below-jsmq-medium pre {
    font-size: 12px;
}